@import './mixin.scss';
.container{
  position: relative;
  width:1226px;
  margin-right:auto;
  margin-left:auto;
}
a{
  img{
    width:100%;
    height: 100%;
  }
}
input{
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:before,.clearfix:after{
  content:' ';
  display:table;
}
.clearfix:after{
  clear: both;
}
// 公共logo
.header-logo {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: #fffffb;
  a {
    display: inline-block;
    width: 110px;
    height: 55px;
    position: relative; // 设置相对定位
    &:before {
      content: ' ';
      @include bgImg(55px, 55px, '../../assets/imgs/coffe2.png', 55px);
      transition: opacity .2s; // 调整为过渡opacity
      position: absolute; // 绝对定位覆盖元素
      top: 0;
      left: 0;
      opacity: 1; // 初始时图片可见
    }
    &:after {
      content: ' ';
      @include bgImg(55px, 55px, '../../assets/imgs/home.png', 55px);
      transition: opacity .2s; // 调整为过渡opacity
      position: absolute; // 绝对定位覆盖元素
      top: 0;
      left: 0;
      opacity: 0; // 初始时图片不可见
    }
    &:hover:before {
      opacity: 0; // 鼠标悬停时图片变为不可见
    }
    &:hover:after {
      opacity: 1; // 鼠标悬停时图片变为可见
    }
  }
}
