<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <style>
        .penal{
            background-color: #d9d9d9;
            border: 1px solid #dddddd;
            margin: 20px 0 0 0;
            padding: 10px;
            border-bottom: 0;
        }
        .table{
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        /*一堆放在一起加一个样式*/
        .table > tbody >tr>td,
        .table > table >tr>th,
        .table > tfoot>tr>td,
        .table>tfoot>tr>th,
        .table > thead>tr>th
        .table > thead>tr>td{
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
            vertical-align: top;
        }
    </style>
</head>
<body>
<div id="app">

    <h3 class="penal">表单区域</h3>
    <div>
<!--        通过v-model实现双向绑定了-->
        <label>姓名</label>
        <input type="text" v-model="user">
    </div>

    <div>
        <label>年龄</label>
        <input type="text" v-model="age">
        <input type="button" :value="title" v-on:click="optionUser">

    </div>

    <h3 class="penal">数据列表</h3>
    <table class="table">
        <thead>
            <td>序号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>操作</td>
        </thead>
        <tbody>
<!--            <tr v-for="(item,idx) in dataList">-->
            <tr v-for="(item, idx) in dataList">
                <td>{{idx+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>
<!--                    <input type="button" value="删除" @click="deleteRow(idx)" v-bind:data-myId="idx"/>-->
                    <input type="button" value="删除" @click="deleteRowFinal" v-bind:data-idxx="idx"/>
                    <input type="button" value="编辑" @click="editUser" v-bind:data-idxx="idx"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
<script>
    //实例化VUe
    var app = new Vue({
        el: '#app',
        data: {
            indexTag:undefined,
            user: "",
            age : "",
            title:"新建添加",
            dataList: [
                {name: '张三', age: 18},
                {name: '李四', age: 19},
                {name: '王五', age: 20},
                {name: '赵六', age: 21},
            ]
        },
        methods:{
            optionUser:function () {

                if (this.indexTag){
                    //编辑
                    this.dataList[this.indexTag].name = this.user;
                    this.dataList[this.indexTag].age = this.age;
                    this.title = "新建添加";

                }else {
                    //添加
                    // this.dataList.push({name:this.user,age:this.age});
                    //也开始拆开写
                    let obj = {name:this.user,age:this.age};
                    this.dataList.push(obj)
                }
                //无论是新建还是编辑，最后都要重新清空输入区
                this.user = "";
                this.age = "";
                this.indexTag = undefined;
            },
            //传入idx参数。根据索引进行idx删除
            // deleteRow:function (idx) {
            //     alert("数据展示"+idx+this.dataList[idx])
            //     //妖艳了，我都没有获取到idx。结果把信息删除了
            //     this.dataList.splice(idx,1) //从idx开始，删除一个数据
            // },
            //使用默认的event参数
            deleteRowTemp:function (event) {
                // this.dataList.splice(idx,1) //从idx开始，删除一个数据
                // console.log(event.srcElement.dataset.myId);
                // let idx = event.srcElement.dataset.myId
                //srcElement其实是被废止了，现在用target
                /*
                在你的代码中，
                你试图通过event.srcElement.dataset.myId
                和event.target.dataset.idx来获取索引值idx，
                但是这两个属性都是undefined。
                这是因为你在绑定数据时使用的是v-bind:data-myId="idx"，
                所以你应该使用event.target.dataset.myId来获取索引值
                * */
                let idx = event.currentTarget.dataset.idx
                this.dataList.splice(idx,1)
                alert("数据展示"+idx)
            },
            deleteRowFinal:function (event) {
                /*
                * 目前测试知道：我绑定的变量的名字修改，是不会影响到event抓数据。老老实实盯着data-xx来打就可以。只是要区分HTML的data-和JavaScript的data-的区别
                * 当我使用data-myId时，在下方使用dataset.myId就会输出数据展示NaN 当我使用data-my时候。在下方使用dataset-my就能够正常输出数据展示1。请问为什么
                * 这是因为HTML5的data-属性和JavaScript的dataset属性在处理属性名称时有一些特殊的规则。  在HTML5中，你可以使用任何data-后面跟着的名称作为自定义数据属性。这个名称可以包含任何小写字母，数字，或者破折号，但不能包含大写字母或者任何非ASCII字符。  然而，在JavaScript中，当你通过dataset属性访问这些自定义数据属性时，属性名称会被转换为驼峰式命名。这意味着所有的破折号都会被移除，破折号后面的第一个字母会被转换为大写。例如，data-my-id在JavaScript中会被转换为dataset.myId。  因此，当你在HTML中使用data-myId，你应该在JavaScript中使用dataset.myId来访问这个属性。但是，由于data-属性的名称不能包含大写字母，所以data-myId实际上是无效的。你应该使用data-my-id，然后在JavaScript中使用dataset.myId来访问这个属性。  同样，当你在HTML中使用data-my，你应该在JavaScript中使用dataset.my来访问这个属性。这是因为data-my和dataset.my都是有效的，并且它们的名称是匹配的。  总的来说，你需要确保你在HTML中使用的data-属性名称和你在JavaScript中使用的dataset属性名称是匹配的。你也需要确保你的data-属性名称只包含小写字母，数字，和破折号。
                * 以后都老老实实写小写吧
                * */
                console.log(event.currentTarget.dataset.idxx);
                let idx = parseInt(event.currentTarget.dataset.idxx)

                this.dataList.splice(idx,1)
                alert("数据展示"+idx)
            },
            editUser:function (event) {
                //点击编辑之后，需要将当前的数据填充到输入框中。至于数据的获取，可以使用类似python的解包，也可以逐个逐个的取
                // this.user = this.dataList[idx].name;
                // this.age = this.dataList[idx].age;
                //也可以写成
                let idxx = event.target.dataset.idxx
                // alert(idxx)
                //记得需要和得到的包中的数据名称一致
                let {name,age} = this.dataList[idxx];
                // alert(name+age)
                this.user = name;
                this.age = age;
                this.title = "编辑修改";
                this.indexTag = idxx;
            }
        }
    });
</script>
</html>